.aboutContainer{
    text-align: center;
    max-width: 100vw;
    height: auto;
    overflow: hidden;
}

.aminiTeamEnclosing{
    display: flex; 
    margin: auto;
    flex-wrap: wrap;
  }
  .aminiTeam{
    flex: 1;
    margin-left :3vh;
    margin-right :3vh;
    padding: 2vh;
  }
  .memberImageContainer{
    width: 40vw;
  }
  .aminiTeam img{
    width: 60%;
    height:auto;
    border-radius: .5vh;
  }
  .aminiTeam .membername{
   font-weight: 400;
   font-size: 3vh;
  }
  .aminiTeam .membertitle{
    text-align: center;
    font-weight: 100;
  }
  .aboutVideo{
    width: 100vw;
    height:auto;
  }
  .ch{
    width: 90vw;
    margin-left: auto;
    margin-right: auto; 
  }
  .ch h1{
    position: absolute;
    top: 40vh;
    z-index:300;
    font-size: 3rem; 
    margin-left: 30vw;
  }
  .ch p{
    font-size: 1.5rem;
  }
  .missionVision{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    padding:3vh;
   
  }
  .missionVision div{
    flex:1;
    font-size: 1.2rem;
  }
  .mission{
    border-right: 1px solid #fff;
  }
  .values{
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
  .values h3{
    margin: 0;
    padding:0;
  }
  .values ul{
    width:20vh;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .values ul li{
    list-style-type: lower-roman
  }
 
  .aboutteam{
    background-color: #0e0d0d;
  }
  .aboutteam h2{
    font-size: xx-large;
    padding-top: 2vh;
  }
  
  .aboutteamdescription{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
  }
  .videoSection{
    width:100vw;
    height:60vh;
    overflow: hidden;
  }
  
  